.content {
    &__weapon {
        &_grid {
            display: grid;
            grid-template-columns: repeat(2, 361px);
            column-gap: 12px;
            row-gap: 12px;
        }
        &_item {
            padding: 11px 19px 17px 19px;
            width: 361px;
            height: 331px;
            background: #D9D9D9;
            border-radius: 30px;
            list-style: none;
            &_title {
                display: flex;
                width: 330px;
                align-items: center;
            }
            &_name {
                font-family: 'e-Ukraine Head';
                font-style: normal;
                font-weight: 300;
                font-size: 25px;
                line-height: 30px;
            }
            &_country {
                // display: inline-block;
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }
            &_img {
                margin-top: 10px;
                width: 323px;
                height: 198px;
                border-radius: 10px;
                object-fit: cover;
            }
            &_buttons {
                display: flex;
                margin-top: 11px;
                width: 323px;
                justify-content: space-between;
            }
            &_more {
                width: 147px;
                height: 50px;
                background: #CDC5AC;
                border-radius: 10px;
                border: 0;
                font-family: 'e-Ukraine Head';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                /* identical to box height */
                text-align: center;
            }
            &_paggin {
                border: 0;
                width: 173px;
                height: 40px;
                background: #D9D9D9;
                border-radius: 15px;
                font-family: 'e-Ukraine Head';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin-top: 19px;
                margin-left: 280px;
            }
        }
    }
}