.content {
    &__main {
        padding: 0 50px 0 50px;
        background-color: #CDC5AC;
        // background-color: #727C46;
        display: grid;
        grid-template-columns: 286px 361px;
        column-gap: 29px;
        align-items: start;
        min-height: 756px;
        position: relative;
    }
    &__form {
        margin-top: 13px;
        &__title {
            font-family: 'e-Ukraine Head';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 34px;
        }
    }
    &__sec-filters {
        &__addfilter {
            margin-top: 13px;
        }
        &__status {
            margin-top: 13px;
        }
        &__title-country {
            font-family: 'e-Ukraine Head';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 34px;
        }
        &__buttons-country {
            margin-top: 15px;
        }
        &__button-country {
            display: flex;
            padding: 8px 0 9px 10px;
            width: 270px;
            height: 42px;
            list-style: none;
            background-color: #D9D9D9;
            border-radius: 15px;
            margin-bottom: 12px;
            cursor: pointer;
            transition: all 0.3s ease;
            &.active {
                // pointer-events: none;
                border: #000000 solid 1px;
                transform: scale(1.02);
                box-shadow: 0px 0px 20px #000000; 
            }
            &:hover {
                transform: scale(1.02);
                transition: transform 10s ease;
                box-shadow: 0px 0px 20px #000000; 
                transition: box-shadow 0.4s ease;
            }
            img {
                width: 25px;
                height: 25px;
                border-radius: 100%;
            }
            &-name {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 200;
                font-size: 17px;
                line-height: 20px;
                display: inline-block;
                text-align: center;
                margin-left: 3px;
                margin-top: 3px;
            }
        }
        &__horizontal {
            width: 270px;
            height: 0px;
            margin-top: 9px;
            border: 1px solid #000000;
        }
        &__vertical {
            position: relative;
            width: 500px;
            height: 0px;
            border: 1px solid #000000;
            transform: rotate(90deg);
            left: 38px;
            bottom: -5px;
        }
    }
}