.youtube {
    height: 693px;
    background-color: #CDC5AC;
    padding: 22px 96px 0 96px;
    iframe {
        border-radius: 20px !important;
    }
    hr {
        width: 1328px;
        margin-top: 16px;
        border: 1px solid #000000;

    }
}