.youtube {
    &__wrapper {
        width: 1327px;
        margin: 0 auto;
    }
    height: 745px;
    background-color: #CDC5AC;
    padding: 22px 0 0 0;
    iframe {
        border-radius: 20px !important;
    }
    hr {
        width: 1328px;
        margin-top: 16px;
        border: 1px solid #000000;

    }
}