
@media (max-width: 1462px) {
    .content__main {
        column-gap: 10px;
        grid-template-columns: 259px 1017px;
    }
    .content__sec-filters {
        &__button-country {
            width: 243px;
        }
        &__horizontal {
            width: 243px;
        }
        &__vertical {
            left: 9px;
        }
    }
    .content__weapon_grid {
        grid-template-columns: repeat(3, 325px);
    }
    .content__weapon_item {
        width: 325px;
        &_link {
            width: 286px;
            &_img {
                width: 286px;
            }
        }
    }
    .content__weapon_item_paggin {
        margin-left: 466px;
    }
    .intro__wrapper {
        width: 1315px;
    }
    .app__header-info__wrapper {
        width: 1315px;
    }
    .app__header-info hr {
        width: 1315px;
    }
    .info__wrapper {
        width: 1315px
    }
    .info__ua__text-block {
        width: 651px;
    }
    .youtube__wrapper {
        width: 1315px;
    }
    .youtube hr {
        width: 1315px;
    }
}

@media (max-width: 1348px) {
    .content__main {
        column-gap: 14px;
        grid-template-columns: 259px 641px;
    }
    .content__sec-filters {
        &__button-country {
            width: 243px;
        }
        &__horizontal {
            width: 243px;
        }
        &__vertical {
            left: 9px;
        }
    }
    .content__weapon_grid {
        grid-template-columns: repeat(2, 317px);
    }
    .content__weapon_item {
        width: 317px;
        &_link {
            width: 281px;
            &_img {
                width: 281px;
            }
        }
    }
    .content__weapon_item_paggin {
        margin-left: 229px;
    }
}

@media (max-width: 991px) {
    .app__header hr {
        width: 550px;
    }
    .news {
        height: 495px;
    }
    .news__link_overlay h2 {
        width: 728px;
    }
    .news__link {
        width: 728px;
        height: 450px;
    }
    .news__link_img {
        width: 728px;
        height: 450px;
    }
    .news__link_overlay {
        height: 450px;
        width: 728px;
    }
    .main_filters {
        height: 500px;
    }
    .main_filters__grid {
        grid-template-columns: repeat(4, 170px);
        justify-content: center;
    }
    .main_filters__item {
        height: 170px;
    }
    .main_filters__item img {
        width: 90px;
        height: 90px;
    }
    .main_filters__item h3 {
        font-size: 22px;
    }
    .main_filters__second-line {
        width: 550px;
    }
    .content__main {
        display: block;
        padding-bottom: 15px;
    }
    .content__sec-filters {
        // display: none;
        position: fixed;
        left: -50%;
        transform: translateX(50%);
        &__vertical {
            display: none
        }
        &__horizontal {
            width: 44vw;
        }
        &__button-country {
            width: 44vw;
        }
        &__back-button {
            display: block;
        }
    }
    .content__sec-filters_active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #CDC5AC;
        width: 50%;
        padding: 50px 20px 20px 20px;
        overflow-y: auto;
        max-height: 100vh;
        transition: 0.6s all;
        //
        
    }
    .content__weapon_grid {
        grid-template-columns: repeat(2, 361px);
        justify-content: center;
        margin-top: 20px;
    }
    .content__weapon_item {
        width: 361px;
        &_link {
            width: 323px;
            &_img {
                width: 323px;
            }
        }
    }
    .content__main {
        grid-template-columns: 734px;
    }
    .content__weapon_item_paggin {
        margin-left: 277px;
    }
    .content__weapon_item_paggin {
        width: 197px;
        height: 56px;
        border-radius: 17px;
        font-size: 23px;
        margin: 0 auto;
        margin-bottom: 0px;
    }
    .content__main__button {
        display: flex;
    }
    .content__overflow-hide {
        opacity: 0; 
        pointer-events: none;
        transition: 0.6s opacity;
    }
}

@media (max-width: 767px) {
    .news {
        height: 402px;
        &__link {
            width: 550px;
            height: 360px;
            &_img {
                width: 550px;
                height: 360px;
            }
            &_overlay {
                width: 550px;
                height: 360px;
            }
        }
    }
    .main_filters {
        height: 1117px;
        &__grid {
            grid-template-columns: repeat(2, 232px);
        }
        &__item {
            height: 232px;
            img {
                width: 125px;
                height: 125px;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
    .content__weapon {
        &_grid {
        grid-template-columns: repeat(2, 269px);
        margin-bottom: 15px;
        }
        &_item {
            width: 269px;
            padding: 8px 16px 16px 16px;
            height: 218px;
            &_name {
                font-size: 232x;
            }
            &_country {
                width: 23px;
                height: 23px;
                margin-left: 3px;
            }
            &_link {
                width: 235px;
                height: 153px;
                &_img {
                    width: 235px;
                    height: 153px;
                }
            }
        }
    }
}