
@media (max-width: 1462px) {
    .content__main {
        column-gap: 10px;
        grid-template-columns: 259px 1017px;
    }
    .content__sec-filters {
        &__button-country {
            width: 243px;
        }
        &__horizontal {
            width: 243px;
        }
        &__vertical {
            left: 9px;
        }
    }
    .content__weapon_grid {
        grid-template-columns: repeat(3, 325px);
    }
    .content__weapon_item {
        width: 325px;
        &_link {
            width: 286px;
            &_img {
                width: 286px;
            }
        }
    }
    .content__weapon_item_paggin {
        margin-left: 466px;
    }
    .intro__wrapper {
        width: 1315px;
    }
    .app__header-info__wrapper {
        width: 1315px;
    }
    .app__header-info hr {
        width: 1315px;
    }
    .info__wrapper {
        width: 1315px
    }
    .info__ua__text-block {
        width: 651px;
    }
    .youtube__wrapper {
        width: 1315px;
    }
    .youtube hr {
        width: 1315px;
    }
    .youtube {
        height: 764px;
    }
}

@media (max-width: 1348px) {
    .content__main {
        column-gap: 14px;
        grid-template-columns: 259px 641px;
    }
    .content__sec-filters {
        &__button-country {
            width: 243px;
        }
        &__horizontal {
            width: 243px;
        }
        &__vertical {
            left: 9px;
        }
    }
    .content__weapon_grid {
        grid-template-columns: repeat(2, 317px);
    }
    .content__weapon_item {
        width: 317px;
        &_link {
            width: 281px;
            &_img {
                width: 281px;
            }
        }
    }
    .content__weapon_item_paggin {
        margin-left: 229px;
    }
    .app__header-info {
        &__wrapper {
            width: 956px;
        }
        hr {
            width: 950px;
        }
    }
    .intro {
        &__content {
            padding: 11px 25px 20px 25px;
        }
        &__wrapper {
            width: 950px;
        }
        &__flex{
            &__info {
                width: 386px;
                // height: 350px;
                &__list__item {
                    width: 378px;
                    &-title {
                        font-size: 20px;
                    }
                    &-text {
                        font-size: 20px;
                    }
                }
                hr {
                    width: 378px;
                }
            }
            &__img {
                width: 515px;
                height: 330px;
            }
        }
    }
    .info {
        min-height: 363px;
        &__wrapper {
            width: 950px;
        }
        &__ua {
            width: 434px;
            &__title {
                &-dynamic {
                    font-size: 24px;
                }
                &-static {
                    font-size: 24px;
                }
                &-logo {
                    width: 25px;
                    height: 25px;
                }
            }
            &__text-block {
                width: 434px;
                min-height: 293px;
                margin-top: 5px;
                padding: 1px 10px 0px 26px;
            }
            &__text {
                font-size: 13px
            }
           
        }
        &__carousel {
            width: 500px;
            height: 340px;
            img {
                width: 500px;
                height: 340px;
            }
        }
    }
    .youtube {
        height: 558px;
        &__wrapper {
            width: 950px;
        }
        hr {width: 950px;}
    }
}

@media (max-width: 991px) {
    .app__header hr {
        width: 550px;
    }
    .news {
        height: 495px;
    }
    .news__link_overlay h2 {
        width: 728px;
    }
    .news__link {
        width: 728px;
        height: 450px;
    }
    .news__link_img {
        width: 728px;
        height: 450px;
    }
    .news__more {
        display: none;
    }
    .news__link_overlay {
        display: none;
    }
    .main_filters {
        height: 497px;
    }
    .main_filters__grid {
        grid-template-columns: repeat(4, 170px);
        justify-content: center;
    }
    .main_filters__item {
        height: 170px;
    }
    .main_filters__item img {
        width: 90px;
        height: 90px;
    }
    .main_filters__item h3 {
        font-size: 22px;
    }
    .main_filters__second-line {
        width: 550px;
    }
    .content__main {
        display: block;
        padding-bottom: 15px;
    }
    .content__sec-filters {
        // display: none;
        position: fixed;
        left: -50%;
        transform: translateX(50%);
        &__vertical {
            display: none
        }
        &__horizontal {
            width: 44vw;
        }
        &__button-country {
            width: 44vw;
        }
        &__back-button {
            display: block;
        }
    }
    .content__sec-filters_active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #CDC5AC;
        width: 50%;
        padding: 50px 20px 20px 20px;
        overflow-y: auto;
        max-height: 100vh;
        transition: 0.6s all;
        //
        
    }
    .content__weapon_grid {
        grid-template-columns: repeat(2, 361px);
        justify-content: center;
        margin-top: 20px;
    }
    .content__weapon_item {
        width: 361px;
        &_link {
            width: 323px;
            &_img {
                width: 323px;
            }
        }
    }
    .content__main {
        grid-template-columns: 734px;
    }
    .content__weapon_item_paggin {
        margin-left: 277px;
    }
    .content__weapon_item_paggin {
        width: 197px;
        height: 56px;
        border-radius: 17px;
        font-size: 23px;
        margin: 0 auto;
        margin-bottom: 0px;
    }
    .content__main__button {
        display: flex;
    }
    .content__overflow-hide {
        opacity: 0; 
        pointer-events: none;
        transition: 0.6s opacity;
    }
    .app__header-info {
        &__wrapper {
            width: 732px;
        }
        hr {
            width: 721px;
        }
    }
    .intro {
        &__title {
            font-size: 55px;
            &_img {
                width: 57px;
                height: 57px;
            }
        }
        &__description {
            font-size: 19px;
        }
        &__content {
            padding: 0px 13px 13px 13px;
        }
        &__wrapper {
            width: 721px;
        }
        &__flex {
            flex-direction: column-reverse;
            &__img {
                width: 695px;
                height: 360px;
            }
            &__info {
                width: 695px;
                &__list {
                    &__item {
                        width: 695px;
                    }
                }
            }
        }
        hr {
            width: 695px;
        }
    }
    .info {
        padding-top: 14px;
        min-height: 810px;
        &__wrapper {
        width: 721px;
        flex-direction: column-reverse;
        }
        &__carousel {
            width: 721px;
            height: 444px;
            border-radius: 25px;
            img {
                border-radius: 25px;
                width: 721px;
                height: 444px;
            }
        }
        &__ua {
            margin-top: 11px;
            width: 721px;
            &__text-block {
                width: 721px;
                margin-top: 11px;
                padding: 8px 18px 0px 28px;
                border-radius: 25px;
            }
            &__title {
                &-dynamic {
                    font-size: 36px;
                }
                &-static {
                    font-size: 36px;
                }
                &-logo {
                    width: 36px;
                    height: 36px;
                }
            }
            &__text {
                font-size: 19px;
            }
        }
    }
    .youtube {
        height: 435px;
        &__wrapper {
            width: 721px;
        }
        hr {
            width: 721px;
        }
    }

}

@media (max-width: 767px) {
    .news {
        height: 402px;
        &__link {
            width: 550px;
            height: 360px;
            &_img {
                width: 550px;
                height: 360px;
            }
            &_overlay {
                display: none;
            }
        }
    }
    .main_filters {
        height: 1114px;
        &__grid {
            grid-template-columns: repeat(2, 232px);
        }
        &__item {
            height: 232px;
            img {
                width: 125px;
                height: 125px;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
    .content__weapon {
        &_grid {
        grid-template-columns: repeat(2, 269px);
        margin-bottom: 15px;
        }
        &_item {
            width: 269px;
            padding: 8px 16px 16px 16px;
            height: 218px;
            &_title {
                width: 246px;
            }
            &_name {
                font-size: 21px;
            }
            &_country {
                width: 23px;
                height: 23px;
                margin-left: 3px;
            }
            &_link {
                width: 235px;
                height: 153px;
                &_img {
                    width: 235px;
                    height: 153px;
                }
            }
        }
    }
    .app__header-info {
        &__wrapper {
            width: 540px;
        }
        hr {
            width: 545px;
        }
    }
    .intro {
        &__wrapper {
            width: 545px;
        }
        &__flex {
            &__img {
                width: 519px;
                height: 306px;
            }
            &__info {
                width: 519px;
                &__list__item {
                    width: 519px;
                }
            }
        }
        hr {
            width: 519px;
        }
        &__title {
            font-size: 43px;
            &_img {
                width: 44px;
                height: 44px;
            }
        }
    }
    .info {
        min-height: 734px;
        &__wrapper {
            width: 545px;
        }
        &__carousel {
            width: 545px;
            height: 332px;
            img {
                width: 545px;
                height: 332px; 
            }
        }
        &__ua {
            &__text-block {
                width: 545px;
                min-height: 328px;
            }
        }
    }
    .youtube {
        height: 339px;
        &__wrapper {
            width: 545px;
        }
        hr {
            width: 545px;
        }
    }
}

@media (max-width: 575px) {
    .app__header {
        &-title {
            font-size: 22px;
        }
        hr {
            width: 300px;
        }
    }
    .news {
        height: 258px;
        &__link {
            width: 300px;
            height: 225px;
            &_img {
                width: 300px;
                height: 225px;
            }
            &_overlay {
                display: none;
            }
        }
        &__more {
            display: none;
        }
    }
    .main_filters {
        height: 762px;
        &__grid {
            grid-template-columns: repeat(2, 145px);
        }
        &__title {
            font-size: 30px;
        }
        &__item {
            height: 145px;
            img {
                width: 90px;
                height: 90px;
            }
            h3 {
                font-size: 21px;
            }
        }
        &__first-line {
            width: 300px;
        }
        &__second-line {
            width: 300px;
        }
    }
    .content__main {
        &__button {
            width: 256px;
            &__title {
                font-size: 22px;
                margin-left: 68px;
                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }
    .content__weapon {
        &_grid {
            grid-template-columns: repeat(1, 300px);
        }
        &_item {
            width: 300px;
            padding: 9px 16px 16px 16px;
            height: 227px;
            &_title {
                width: 273px;
            }
            &_link {
                width: 270px;
                height: 166px;
                &_img {
                    width: 270px;
                    height: 166px;
                }
            }
        }
    }
    .content__sec-filters_active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #CDC5AC;
        width: 100%;
        padding: 50px 20px 20px 20px;
        overflow-y: auto;
        max-height: 100vh;
        transition: 0.6s all;
    }
    .content__sec-filters__title-country {
        font-size: 23px;
    }
    .content__sec-filters__button-country {
        width: 85vw;
    }
    .content__sec-filters__horizontal {
        width: 85vw;
    }
    .content__sec-filters__back-button {
        width: 85vw;
    }
    .app__header-info {
        padding: 15px 0 0 0;
        height: 84px;
        &__wrapper {
            width: 305px;
        }
        hr {
            width: 310px;
            margin-top: 4px;
        }
        img {
            width: 138px;
            height: 57px;
        }
    }
    .intro {
        min-height: 617px;
        &__wrapper {
            width: 310px;
        }
        &__flex {
            &__img {
                width: 284px;
                height: 169px;
            }
            &__info {
                width: 284px;
                &__list__item {
                    width: 284px;
                    margin-top: 9px;
                    &-title {
                        font-size: 14px;
                    }
                    &-text {
                        font-size: 14px;
                        line-height: 0;
                    }
                }
            }
        }
        hr {
            width: 284px;
            margin-top: 10px;
        }
        &__title {
            font-size: 24px;
            &_img {
                width: 24px;
                height: 24px;
                margin-left: 6px;
            }
        }
        &__status {
            font-size: 21px;
        }
        &__description {
            margin-top: 10px;
            font-size: 16px;
        }
    }
    .info {
        min-height: 363px;
        padding-top: 10px;
        &__wrapper {
            width: 310px;
        }
        &__carousel {
            width: 310px;
            height: 186px;
            img {
                width: 310px;
                height: 186px; 
            }
        }
        &__ua {
            margin-top: 7px;
            width: 310px;
            &__text {
                font-size: 16px;
            }
            &__text {
                &-item {
                    margin-top: 9px;
                }
                &-block {
                margin-top: -5px;
                width: 310px;
                min-height: 140px;
                padding: 0px 18px 0px 28px;
                }
                &-ul {
                    height: 100%;
                }
            }
            &__title {
                &-dynamic {
                    font-size: 17px;
                    line-height: 0;
                }
                &-static {
                    font-size: 17px;
                    margin-left: 6px;
                    line-height: 0;
                }
                &-logo {
                    width: 22px;
                    height: 22px;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .youtube {
        padding: 10px 0 0 0;
        height: 198px;
        &__wrapper {
            width: 310px;
        }
        hr {
            width: 310px;
            margin-top: 7px;
        }
    }
    .links {
        height: 50px;
        padding-top: 10px;
        &__buttons {
            width: 310px;
        }
        &__button {
            width: 150px;
            height: 30px;
            h2 {
                font-size: 16px;
            }
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    .loading-page {
        &__text {
                font-size: 30px;
        }
    }
}