* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@import url(./_media.scss);
@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-Ukraine-Bold.otf');
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Bold.otf');
}